@page "/base-character"
@inject BaseCharacterViewModel VM

<div class="page-container p-4">
    <h3>Character Identity</h3>
    <hr />

    <div class="mb-3">
        <label class="form-label">Character Name</label>
        <input type="text" class="form-control" @bind="VM.Name" />
    </div>

    <CascadingValue Value="VM">
        <RaceSelectorComponent />
    </CascadingValue>

    <div class="mb-3">
        <label class="form-label">Diety</label>
        <input type="text" class="form-control" @bind="VM.Deity" />
    </div>

    <div class="card p-4 shadow-sm">
        <h4 class="mb-4">Ability Scores</h4>

        <BaseAbilityScoreForm Label="Strength" @bind-Score="VM.Strength" />
        <BaseAbilityScoreForm Label="Dexterity" @bind-Score="VM.Dexterity" />
        <BaseAbilityScoreForm Label="Constitution" @bind-Score="VM.Constitution" />
        <BaseAbilityScoreForm Label="Intelligence" @bind-Score="VM.Intelligence" />
        <BaseAbilityScoreForm Label="Wisdom" @bind-Score="VM.Wisdom" />
        <BaseAbilityScoreForm Label="Charisma" @bind-Score="VM.Charisma" />
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label fw-bold">Alignment</label>
            <select class="form-select" @bind="VM.Alignment">
                @foreach (var alignment in VM.AlignmentOptions)
                {
                    <option value="@alignment">@alignment.ToString().SplitCamelCase()</option>
                }
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="number" class="form-control" @bind="VM.Age" />
    </div>

    <div class="mb-3">
        <label class="form-label">Weigth</label>
        <input type="number" class="form-control" @bind="VM.Weight" />
    </div>

    <div class="mb-3">
        <label class="form-label">Height</label>
        <input type="number" class="form-control" @bind="VM.Height" />
    </div>

    <div class="mb-3">
        <label class="form-label">Biography</label>
        <textarea class="form-control" rows="4" @bind="VM.Biography"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="4" @bind="VM.PhysicalDescription"></textarea>
    </div>

    @* @/* We will add Race and Alignment dropdowns once the seed data is wired up */ *@
</div>
