@page "/"
@using Wayfinder.Core.Extensions
@using Wayfinder.Core.Rules.Calculators
@inject CharacterSheetViewModel VM

<div class="container py-4">
    @if (VM.ActiveSheet == null)
    {
        <div class="alert alert-warning">No character active. Please load or create a character first.</div>
    }
    else
    {
        <div class="container-fluid p-3">
            @* Top Header: Name, Alignment, Classes, Level *@
            <div class="row mb-3">
                <div class="col-12">
                    <CharacterHeader VM="VM" />
                </div>
            </div>

            <div class="row">
                @* LEFT COLUMN: Core Stats (Takes up 7/12ths of the screen on desktop) *@
                <div class="col-lg-7 col-xl-8">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <AbilityScoreSection VM="VM" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <HitPointSection VM="VM" />
                            @* HP, Initiative, AC Component *@
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <SavingThrowSection VM="VM" />
                        </div>
                        <div class="col-12 mb-3">
                            @* Attacks / Weapons Component *@
                        </div>
                    </div>
                </div>

                @* RIGHT COLUMN: Skills (Takes up 5/12ths of the screen on desktop) *@
                <div class="col-lg-5 col-xl-4">
                    <CharacterSkillSection Skills="VM.ActiveSheet.Skills" />
                </div>
            </div>
        </div>
    }
</div>
