@using Wayfinder.App.Components.Common
@inherits LayoutComponentBase

<div class="app-container">
  <header>
    <TopMenu />
  </header>

  <div class="main-layout-body">
    <aside class="sidebar">
      <NavMenu />
    </aside>

    <main class="content-area">
      <WayfinderErrorBoundary>
        <article class="px-4 py-3">
          @Body
        </article>
      </WayfinderErrorBoundary>
    </main>
  </div>
</div>
